code {
  display:block;
  @extend .bg-dark;
  @extend .rounded;
  font-family: 
    Consolas, 
    "Andale Mono WT", 
    "Andale Mono", 
    "Lucida Console", 
    "Lucida Sans Typewriter", 
    "DejaVu Sans Mono", 
    "Bitstream Vera Sans Mono", 
    "Liberation Mono", 
    "Nimbus Mono L", 
    Monaco, 
    "Courier New", 
    Courier, 
    monospace;
  font-size:14px;
  line-height:1.4;
  letter-spacing:0.1em;
  margin:1em 0;
  overflow:scroll;
  padding:20px;
  max-width:100%;
  @include breakpoint(one-hand) {
    padding:10px;
    font-size:12px;
  }
}
