.site-nav--item {
  display:inline-block;
  font-size:$type-4;
  &:last-child {
    border-right: none;
  }
}

.site-nav--link {
  font-weight:100;
  color:$grey-medium;
  display:block;
  padding-right:1em;
  text-decoration: none;
  &:hover,
  &:focus {
    color:$orange;
  }
  &:active {
    color: #666;
  }
}
