/* ==========================================================================
   NAVIGATION
   ========================================================================== */



.site-nav--item {
  display:inline-block;
  font-size:$type-5;
  text-transform:uppercase;
  letter-spacing:0.2em;
  &:last-child {
    border-right: none;
  }
}

.site-nav--link {
  font-weight:100;
  color:#222;
  display:inline-block;
  margin-bottom:10px;
  padding:10px;
  text-decoration: none;
  &:hover,
  &:focus {  color:$orange; }
  &:active { color: #666; }
}

.site-footer {
  @extend .secondary-skin;
}
