.bb {
  border-bottom:1px dotted $grey-light;
}

.bg-dark {
  color:#fff;
  background:$grey-dark;
}

.rounded { border-radius:3px; }

.secondary-skin {
  background: #eee;
  border-top: 1px solid #e3e3e3;
}


