body {
  font-family: georgia, serif;
  font-size: 20px;
}
// The internet is run on paragraphs and links. Let people see them please.

h1,h2,h3,h4,h5,h6 {
  font-weight:100;
  letter-spacing:.05em;
  @extend .sans-serif;
}

// I mean it's not that big.

h1,.h2,.h3,.h4,.h5,.h6 {
  margin-bottom:10px;
  text-transform:uppercase;
}

h1,.h1 {
  font-size:$type-1;
}

h2,.h2 {
  font-size:$type-2;
}

h3,.h3 {
  font-size:$type-3;
}

h4,.h4 {
  font-size:$type-4;
}

h5,.h5 {
  font-size:$type-4;
}

h6,.h6 {
  font-size:$type-5;
}

p {
  font-size:$type-4;
  line-height:$copy-line-height;
  + p { 
    margin-top:10px;
  }
}

.intro {
  font-size:$type-3;
}

.post {
   h1 {
   margin-bottom:40px;
    @include breakpoint(one-hand) { margin-bottom:40px;font-size:$type-3; }
  }
  footer { color:$grey-medium; }
}

.h1-r {
  @include breakpoint(one-hand) { font-size:$type-2; }
}


// Uh you don't need to read this stuff. Let's make it small.
.meta { @extend .sans-serif;font-size:$type-6; text-transform: uppercase; color:#666; letter-spacing:.1em;}
.post-footer {font-size:$type-5;}
.post-title {font-size:$type-1;font-weight:bold;}
.center {text-align:center;}
.ct {
  text-align:center;
  @include breakpoint(one-hand) {
    text-align:left;
  }
}

blockquote {
  margin:30px 0 40px 0;
  font-style:italic;
  p { font-size:$type-quote;padding:0; margin:0 0 20px 0;}
  footer,
  footer a {
    font-style: normal;
    font-size:$type-5;
    line-height:1.5;
    text-decoration:none;
    color:#777;
  }
}

em { font-style:italic; }

.bump-it {
  font-size:$type-3; 
  margin-bottom:10px;
}

.caps,
.author { text-transform:uppercase; }

time { color:$grey-medium; }

.post--info {
  font-size:$type-4;
  .meta {display:block;}
}


