/*
$primary-color:;
$secondary-color:;
$tertiary-color:;

$padding:;
$margin:;

*/

$type-1:64px;
$type-2:48px;
$type-quote:32px;
$type-3:24px;
$type-4:20px;
$type-5:16px;
$type-6:12px;

$copy:$type-4;

$copy-line-height:1.5;
