{% include _head.html %}
<body>
  <article class="mt-2 post single-column">
    <h1 class="h4">
      {{page.title}}
    </h1>
    <!-- This is where post content lives -->
      {{content}}
    <!-- end of post content -->
      {% if page.author %}
    <footer class="mt-4">
      <p class="post-footer">
        By {{page.author}}
        on <time datetime="{{page.date}}">{{page.date | date: "%d %B %Y"}}</time> 
      </p>
      {% endif %}
    </footer>
  </article>
  {% include _related_posts.html %}
  {% include _footer.html %}
  {% include _google_analytics.html %}
</body>
</html>
